<div>
  <div>
    <%= attachment_image_tag @item, :image, :fill, 100, 100 %>
  </div>
  <div>
    <div>
      <%= @item.name %>
    </div>
    <div>
      <%= @item.introduction %>
    </div>
    <div>
      <%= @item.add_tax_price.to_s(:delimited) %>（税込）
    </div>
  </div>

  <div>
    <%= form_with method: :post, model: @cart_item, url: cart_items_path, local:true do |f| %>
    <div>
      <%= f.hidden_field :item_id, :value => @item.id %>
    </div>

    <div>
      <%= f.select :amount, *[1..5], include_blank: "個数選択" %>
    </div>
    <div>
      <%= f.submit 'カートに入れる', class: "btn btn-green" %>
    </div>
    <% end %>
  </div>
</div>
